name: Publish to npm
on:
  release:
    types: [published]
permissions: read-all
jobs:
  publish:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: '22'
          registry-url: 'https://registry.npmjs.org/'
      - run: npm install -g npm@latest
      - run: npm ci
      - run: npm publish
